// Primary and secondary colors
$primary: darkorange;
$secondary: navy;

// Base font size for the document
$font-size-base: 1.2rem;

// Color for the body text
$body-color: #423d3d;

// Border radius for elements
$btn-border-radius: 1rem;
$btn-border-radius-sm: 1rem;

@import '../node_modules/bootstrap/scss/bootstrap';

body {
    display: grid;
    grid-template-areas:
        "header header"
        "sidebar main"
        "footer footer";
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

header {
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}

.sidebar {
    grid-area: sidebar;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 15px;
}
