// Primary and secondary colors
$primary: darkorange;
$secondary: navy;

// Base font size for the document
$font-size-base: 1.2rem;

// Color for the body text
$body-color: #423d3d;

// Border radius for buttons
$btn-border-radius: 1rem;
$btn-border-radius-sm: 1rem;

@import '../node_modules/bootstrap/scss/bootstrap';

